<html>

<head>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600i,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="calendar">
            <h1>{{ today.toLocaleString('pl-PL', {weekday: 'long'} ) }}</h1>
            <p>{{ today.toLocaleString('pl-PL', {day: 'numeric', month: 'long'})}}</p>
        </div>

        <div class="timer">
            <h1>{{ actualTime }}</h1>
        </div>

        <div class="toDo">
            <h1>do zrobienia</h1>
            <span v-if="!tasks.length">brak zadań do zrobienia</span>
            <ul>
                <li v-for="task in tasks" @click="dropTask(task)">{{ task }}</li>
            </ul>
            <input id="newTask" placeholder="dodaj zadanie" v-model="newTask" v-on:keyup.enter="addNewTask">
        </div>

        <div class="weather">
            <h1>Pogoda</h1>
            <div class="col">
                35.2 °C
                <p>temperatura</p>
            </div>
            <div class="col">
                50 %
                <p>wilgotonść</p>
            </div>
            <div class="col">
                1000 hPa
                <p>ciśnienie</p>
            </div>
        </div>

        <div class="currencies">
            <h1>Aktualne kursy walut</h1>
            <section v-if="errored">
                <p>Nie udało się pobrać aktualnych kursów walut, sprawdź połączenie internetowe.</p>
            </section>

            <section v-else>
                <div v-if="loading">Loading...</div>
                <div class="col">
                    {{ EUR | currencyDecimal }}
                    <p>€</p>
                </div>
                <div class="col">
                    {{ GBP | currencyDecimal }}
                    <p>£</p>
                </div>
                <div class="col">
                    {{ USD | currencyDecimal }}
                    <p>$</p>
                </div>
            </section>
        </div>

        <div class="quotes">
            <article>
                {{ quotes[0] }}
            </article>
        </div>
    </div>

    <script src="main.js"></script>
</body>

</html>