* {
    box-sizing: border-box;
}

body {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url('assets/autumn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0%;
    background-position: center center;
    background-attachment: fixed;
    background-color: #464646;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.col {
    height: 80px;
    width: 120px;
    display: inline-block;
}

input {
    height: 30px;
    border: 0;
    border-bottom: 1px solid black;
    background: none;
}

.quotes {
    bottom: 10;
    color: white;
    font-size: 18px;
    text-shadow: 4px 4px 4px #aaa;
}

.currencies {
    color: white;
    display: table;
    margin: 30 auto;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.weather {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    margin: 30 auto;
    border: 1px solid #fff;
    max-height: 200px;
}